.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}

.label {
    display: none;
}

.input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 8px;
    /* Rounded inputs as per screenshot */
    outline: none;
    font-size: 13px;
}

.input:focus {
    outline: 1px solid #000;
}

.error {
    color: #ef4444;
    font-size: 11px;
    text-align: left;
    margin-left: 4px;
}